$light_gray: #f3f5f7;
$medium_gray: #4c4c4c;
$dark_gray: #acacac;
$shadow_gray: #a4a4a4;
$link_text: #0670b4;
$gray: #808080;
$white: #ffffff;
$red: #e54444;
$dark-orange: #e15800;
$light-green:#7ccb00;
$yellow:#e0a300;
$blue-gray:#576478;