fieldset#congratulations
  
  h1 Congratulations, John
  h3 You are ready to start enjoying all the benefits of your Account Online.
  
  .field
    input.button(type="submit", value="Go to your account")