aside#profile_widget

  .profile-box
    h3 Welcome, John
    p Card Number   &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; 1234
    a Get Help

  .promo-box(data-fielset="profile")
    img(src='images/ao_registration_preferences_paperless_billing.png', alt="Paperless Billing")
    h4.profile Good for the planet
    p Don't waste paper on an empty statement. Print your bill whenever you need it.

  .promo-box(data-fielset="security")
    img(src='images/ao_registration_preferences_account_alerts.png', alt="Account Alerts")
    h4.security We've Got Your Back
    p Set up alerts and reminders to stay on top of your bills and account activity.

  .promo-box(data-fielset="preferences")
    img(src='images/ao_registration_preferences_safe_and_secure.png', alt="Safe & Secure")
    h4.preferences Safe &amp; Secure
    p You can rest easy that your Account Online will always remain safe and secure.

